<!DOCTYPE html>
<html style="background-color:yellow">
<head>
	<title>Set Password</title>
</head>
<body>
<h3>Set your password.</h3>
<p>Dear <%=details[0].firstName %> <%=details[0].lastName %>,</p>
<p>Thank you for verifying your email address, kindly set a password for your account.</p>
<p>If your password creation was successful you would be directed to log in.</p>
<form method='post' action='/pass/setpassword'> 
	<input name='userEmail' placeholder='email address' type='email' id='userEmail' value="<%=details[0].userEmail %>" readonly> <br>
	<input type="password" name="password" id="password" placeholder="your password">
	<br>
	<button type='submit' name='setPass'>Set Password</button> </form>


</body>
</html>